<html>
<head>
<style>
body {
  margin:0;
  padding:0;
  font-family: sans-serif;
  background: linear-gradient(#ff9999, #ff0000);
}

.hi{
  width: 300px;
  border: 15px solid red;
  padding: 50px;
  margin: 2px;
  background-color: white;
  text-align: center;
}
.h{
	margin: 1px;
}
</style>
</head>
<body>
<img src="http://icons.iconarchive.com/icons/carlosjj/google-jfk/128/youtube-icon.png" alt="YouTube">
<div class="hi">
  <form action = "http://localhost:5000/result" method = "POST">
<p>Link <input type = "text" name = "Code" /></p>
<p>Folder path <input type = "text" name = "path" /></p>
  <hr>
<p><input type = "submit" value = "Download" /></p>
</form>
    </div>
</body>
</html>